@model Racing.Model.Laps.LapDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LapDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LapId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LapTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
