@model Racing.Model.Laps.LapDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LapDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LapId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LapTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LapMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LapSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LapTenthSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapTenthSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LapHundrethSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapHundrethSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LapMilliseconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LapMilliseconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorOneMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorOneMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorOneSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorOneSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorOneTenthSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorOneTenthSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorOneHundrethSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorOneHundrethSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorOneMilliseconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorOneMilliseconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorTwoMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorTwoMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorTwoSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorTwoSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorTwoTenthSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorTwoTenthSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorTwoHundrethSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorTwoHundrethSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorTwoMilliseconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorTwoMilliseconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorThreeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorThreeMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorThreeSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorThreeSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorThreeTenthSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorThreeTenthSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorThreeHundrethSeconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorThreeHundrethSeconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorThreeMilliseconds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorThreeMilliseconds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
