@model IEnumerable<Racing.Model.Session.SessionList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResultSession"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResultSession"]
    </div>
}
<table class="table" id="SessionIndexTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Track)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Track)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.ActionLink("Laps", "Details", new { id = item.SessionId }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.SessionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SessionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SessionId })
                </td>
            </tr>
        }
    </tbody>

</table>
<script type="text/javascript">
$(document).ready(function () {
        $('#SessionIndexTable').DataTable();
    });</script>
