@model Racing.Model.Session.SessionLapList

@{
    ViewBag.Title = "SessionLapDetails";
}

<h2>SessionLapDetails</h2>

<div>
    <h4>SessionLapList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SessionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageLapTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageLapTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestLapTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestLapTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestSectorOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestSectorOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestSectorTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestSectorTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BestSectorThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestSectorThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptimalLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptimalLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
